body{
    background-color: #f8f9fa;
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(244,245,255);
    background: radial-gradient(circle, rgba(244,245,255,1) 0%, rgba(228,236,255,1) 35%, rgba(220,231,255,1) 100%);
    }